*{
  font-family: sans-serif
}
span{
  color: red;
  font-size: 30px;
}
  .block {
    font-size: 25px
  }
.Desc{
  background: #cccccc; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,S1); /* Параметры тени */
   padding: 10px;
  font-size: 25px;

}
.Price{
  font-family: Impact;
  color: red;
}
html{
  background: #C0C0C0
}
